/* src/pages/Analytics.css */

.campaign-card {
    cursor: pointer;
    transition: background-color 0.3s;
}

.campaign-card:hover {
    background-color: #180b39;
}

.campaign-details {
    display: block;
    visibility: visible;
    margin-top: 10px; /* Adds spacing between card and details */
}


.lead-list {
    list-style-type: none;
    padding: 0;
}

.lead-item {
    background-color: #2a2a2a;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.lead-item.gold {
    background-color: #3a3a2a;
    border: 1px solid #ffd700;
}

.lead-item.five-star {
    background-color: #4a4a1a;
    border: 2px solid #ffd700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

.lead-info {
    flex: 1;
    min-width: 200px;
}

.lead-rating-overview {
    text-align: right;
    min-width: 200px;
}

.lead-rating {
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 5px;
}

.lead-overview {
    font-size: 0.9em;
    color: #aaa;
}

.lead-client-info {
    font-size: 0.9em;
    color: #aaa;
}
